@import url("https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;700&display=swap");
@import "node_modules/bootstrap/scss/bootstrap-grid.scss";

body {
  background-color: blanchedalmond;
  font-family: "Baloo 2", cursive;
  min-height: 100vh;
  border-bottom: 50px solid black;
  border-top: 50px solid black;
}

h1,
p {
  color: black;
}

@include media-breakpoint-up(md) {
  h1 {
    font-size: 50px;
  }
  p {
    font-size: 20px;
  }
}

.state-container {
  text-align: center;
}

.text-container {
  margin-top: 8em;
}

@include media-breakpoint-down(lg) {
  .text-container {
    margin-top: 6em;
  }
}

@include media-breakpoint-down(md) {
  .text-container {
    margin-top: 5em;
  }
}

.title {
  font-weight: 700;
}

.description {
  margin-top: 5em;
}

.search-form {
  margin-top: 5em;
}

.search-button {
  border-color: black;
  color: black;
  margin-left: 3em;
}

.search-button:hover {
  background-color: black !important;
  border-color: black !important;
}

@media (max-width: 790px) {
  .search-button {
    margin-left: 2em;
  }
}
@media (min-width: 1200px) {
  .search-button {
    margin-left: 4em;
  }
}

@media (min-width: 1700px) {
  .search-button {
    margin-left: 5em;
  }
}

.main-input {
  background: transparent;
  border: none;
  color: black;
  border-bottom: 1.5px solid black;
}

.profile-container {
  text-align: center;
  margin-top: 4em;
}

@include media-breakpoint-down(sm) {
  .profile-container {
    margin-top: 3em;
  }
}

.data-container {
  margin-top: 4em;
}

.profile-key {
  font-weight: 700;
}

.profile-value {
  margin-left: 1em;
}
