@import url("https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;700&display=swap");
@import "node_modules/bootstrap/scss/bootstrap-grid.scss";

body {
  background-color: red;
  font-family: "Baloo 2", cursive;
  min-height: 100vh;
  border-bottom: 20px solid black;
  border-top: 20px solid black;
}

h1,
p {
  color: black;
}

.state-container {
  text-align: center;
}

.text-container {
  margin-top: 10em;
}

// .title {
//   // text-align: center;
//   // color: black;
//   // margin-top: 5em;
// }

.description {
  margin-top: 5em;
}

.search-form {
  margin-top: 5em;
}

.search-button {
  border-color: black;
  color: black;
  margin-left: 3em;
}

.search-button:hover {
  background-color: black !important;
  border-color: black !important;
}

.main-input {
  background: transparent;
  border: none;
  color: black;
  border-bottom: 1.5px solid black;
}

.profile-container {
  text-align: center;
}

.profile-key {
  margin-top: 3em;
}

@include media-breakpoint-up(md) {
  body {
    background-color: blanchedalmond;
  }
}
